/nbproject/private/
/build/
/src/Lab8/build/
/src/Lab8/nbproject/private/
/src/Lab8Bai1/target/
/src/Lab8Bai2/build/
/src/Lab8Bai2/nbproject/private/
/src/Lab8Bai3/target/
/src/Lab8Bai4/target/
/src/Lab8Bai5/target/
/src/Lab8Bai6/target/
/src/Lab5/nbproject/private/
